# Copyright 2020 Maarten Mulders
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
name: CI build

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    strategy:
      matrix:
        java: [17, 21, 25]
        os: [ubuntu-latest, windows-latest, macos-15]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.0

      - name: Set up JDK
        uses: actions/setup-java@v5.0.0
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'
          check-latest: true

      - name: Set up cache for ~./m2/repository
        uses: actions/cache@v4.3.0
        with:
          path: ~/.m2/repository
          key: puml-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            puml

      - name: Download Apache Maven 3.9.9
        run: |
          pushd ~
          curl -LOJ https://archive.apache.org/dist/maven/maven-3/3.9.9/binaries/apache-maven-3.9.9-bin.tar.gz
          tar -xzf apache-maven-3.9.9-bin.tar.gz

      - name: Prepare OSS Index credentials
        shell: bash
        run: |
          mkdir -p ~/.m2
          cat << EOF > ~/.m2/settings.xml
          <?xml version="1.0" encoding="UTF-8"?>
          <settings>
            <servers>
              <server>
                <id>ossindex</id>
                <username>${{ secrets.OSS_INDEX_USERNAME }}</username>
                <password>${{ secrets.OSS_INDEX_PASSWORD }}</password>
              </server>
            </servers>
          </settings>
          EOF

      - name: Build and test code
        run: ~/apache-maven-3.9.9/bin/mvn verify -B --no-transfer-progress
